// Nav

// <nav>
// Contains .nav__list
.nav {
	background-color: $alabaster;
	bottom: 100%;
	left: .5em;
	overflow: hidden;
	position: absolute;
	right: .5em;

	&--open {
		box-shadow: 0 2px 1px rgba($chicago, .5);
	}

	@media only screen and (min-width: $bk-nav) {
		box-shadow: none;
		left: auto;
		margin-left: 1em;
		max-height: none;
		overflow: visible;
		position: relative;
		right: auto;
	}

	.flexbox & {
		align-items: center;
		display: flex;
		flex-shrink: 0;
	}
}

.no-flexbox .header__nav {
	float: right;
}

// <ul>
// Contains nav__items
.nav__list {
	@include unstyled;
	width: 100%;
	z-index: 0;

	.flexbox & {
		display: flex;
		justify-content: flex-end;
	}

	@media only screen and (max-width: ($bk-nav - 1px)) {
		flex-direction: column;
	}
}

// <li>
// Contains nav__link
.nav__item {
	border-top: 1px solid $chicago;
	display: block;

	@media only screen and (min-width: $bk-nav) {
		border-top: none;
		display: inline-block;
	}
}

// <a>
.nav__link {
	display: block;
	font-weight: normal; // temp?
	font-size: 1em;
	padding: .8em .5em;
	text-decoration: none;
	transition: color .3s ease;

	&:hover,
	&--active,
	&--ancestor {
		color: $silver;
	}

	&--active {
		cursor: default;
		pointer-events: none;
	}

	@media only screen and (min-width: $bk-nav) {
		font-size: .9em;
		padding: 1.5em .4em;
	}

	@media only screen and (min-width: 760px) {
		font-size: 1em;
	}

	@media only screen and (min-width: 820px) {
		padding: 2em .6em;
	}

	@media only screen and (min-width: 900px) {
		font-size: 1.1em;
	}

	@media only screen and (min-width: 960px) {
		padding: 2em 1em;
	}
}

// Perch classes
.ancestor > a,
.selected {
	text-decoration: underline;
}

.selected a {
	cursor: default;
}