// Wrapper
// Generic class for keeping the page together

.wrapper {
	margin: 0 auto;
	max-width: $site-width;
	// transition: max-width 1s ease;

	@media only screen and (min-width: $bk-site) {
		max-width: $site-width-big;
	}
}