// <html> element
// and misc others

html {
	background-color: $alabaster;
	box-sizing: border-box;
	line-height: 1.4;

	@media only screen and (min-width: $bk-site) {
		font-size: 18px;
	}
}

* {
	box-sizing: inherit;
}

body > * {
	padding-left: 1em;
	padding-right: 1em;
}

.body--frozen {
	overflow: hidden;
}