// The Littlest Grid System™

$number-of-columns: 12;
$column-width: 100% / $number-of-columns;

.row {
	overflow: hidden;
}

// Usage:
// @include columns(6);
// @include columns(2, right);
@mixin columns($col, $float: left) {
	float: $float;
	width: $col * $column-width;

	&:last-child {
		&:after {
			content:'';
			clear: both;
			display: table;
		}
	}
}

// Usage:
// padding-left: colwidth(2);
@function colwidth($number) {
	@return $number * $column-width;
}