// blocks
// like masonry probably

// <div>
.blocks-container {}

// <ul>
.blocks {
	@include unstyled;
	display: flex;
	flex-flow: row wrap;
}

// <li>
.block {
	border-radius: .2em;
	box-shadow: 0 1px 2px rgba($chicago, .5);
	color: $chicago;
	overflow: hidden;
	margin: 0 0 1em;
	transition: all .3s ease-in-out;

	&:not(.block--open):hover {
		box-shadow: 0 1px 2px rgba($chicago, .5), 0 .8em 5px -5px rgba($chicago, .2);
		transform: scale(1.02);
	}

	@media only screen and (min-width: 320px) {
		margin: 0 2% 1em 2%;
		width: 46%;
	}

	@media only screen and (min-width: 500px) {
		margin: 0 1% 1em 1%;
		width: 31%;
	}
}

// <img>
.block__image {
	display: block;
	height: auto;
	transition: all .3s ease;
	width: 100%;

	.block:hover & {
		opacity: .9;
	}
}

// <span>
.block__title {
	display: block;
	padding: 1em;
	text-align: center;
}

.block__link {
	text-decoration: none;
}

.block__title,
.block__link {
	background-color: $alabaster;
	color: $chicago;
}

// <div>
.block__back {
	display: none;
}

.block__back__image {
	margin: auto;
	width: 80%;
}

.block__back__title {
	margin-top: 0;
}