// Call to action

.cta-container {
	background-color: mix($alabaster, $chicago, 90%);
	margin-top: auto;
	padding: 1em;
}

.cta {
	overflow: hidden;

	@media only screen and (min-width: 600px) {
		align-items: center;
		display: flex;
	}
}

.cta__heading {
	font-weight: normal;
	// font-size: 1.6em;
}

.cta__text {
	@media only screen and (min-width: 600px) {
		@include columns(8);
	}
}

.cta__action {
	text-align: center;
	
	@media only screen and (min-width: 600px) {
		@include columns(4);
	}
}