// Dialog box

.dialog {
	background: $alabaster;
	border-radius: .3em;
	box-shadow: 0 25px 3px -15px rgba(0, 0, 0, .15);
	left: 0;
	margin: auto;
	max-width: 90vw;
	opacity: 0;
	padding: 2em;
	position: fixed;
	right: 0;
	top: 4em;
	transition: all .3s ease, visibility 0s linear;
	visibility: hidden;
	width: 900px;
	z-index: 30;

	@media only screen and (min-width: $bk-site) {
		width: 1320px;
	}
	
	&--open {
		opacity: 1;
		top: 2em;
		visibility: visible;
	}
}

// <button>
.dialog__close {
	$diameter: 2em;
	background-color: $chicago;
	border: 2px solid $alabaster;
	border-radius: 50%;
	color: $alabaster;
	cursor: pointer;
	height: $diameter;
	line-height: 1.6em;
	position: absolute;
	right: ($diameter / 3) * -1;
	top: ($diameter / 3) * -1;
	transition: all .2s ease;
	width: $diameter;

	&:hover {
		background-color: mix($alabaster, $chicago, 20%);
	}
}

// <h3>
.dialog__title {
	margin-top: 0;
}

// <div>
.dialog__body {
	max-height: calc(90vh - 4em);
	overflow: scroll;
}