// Drop
// For drop-down navigation menus

@mixin drop--shadow {
	box-shadow: 0 2px 1px rgba($chicago, .5);
	background-color: $alabaster;
}

// <ul>, contains drop__link and drop__sub
.drop {}

// <a>, click this to toggle the dropdown
.drop__link {

	font-weight: bold;
	pointer-events: none;

	.drop--open & {
		@include drop--shadow;
	}

	@media only screen and (min-width: $bk-nav) {
		font-weight: normal;
		pointer-events: all;

		&:after {
			@include triangle('bottom');
			transform: translateY(-0.2em);
		}

		&:hover:after {
			transform: translateY(-0.1em);
		}
	}
}

// <ul>, contains sub-items
.drop__sub {
	@include clearfix;
	@include unstyled;
	z-index: 20;

	@media only screen and (min-width: $bk-nav) {
		border-radius: 0 0 .2em .2em;
		display: none;
		position: absolute;

		.drop--open & {
			@include drop--shadow;
			display: block;
			min-width: 14em;
		}
	}
}

// <li>, a sub-item
.drop__item {
	display: block !important;

	a {
		display: block;
		padding: 1em;
		text-decoration: none;
		transition: all .2s ease;

		&:hover,
		&.drop__active {
			color: $silver;
		}
	}

	@media only screen and (min-width: 500px) and (max-width: $bk-nav) {
		float: left;
		width: 50%;
	}

	@media only screen and (max-width: $bk-nav) {
		.drop__sub & {
			border-top: 1px dotted $gallery;

			.nav__link:before {
				content: '» ';
				display: inline;
				padding-left: 1em;
			}
		}
	}
}