// Footer

// Flexbox sticky footer
.flexbox {
	&,
	body {
		min-height: 100%;
	}

	body {
		align-items: stretch;
		display: flex;
		flex-flow: column nowrap;
	}
	.footer-container {
		margin-top: auto;
	}
	.cta-container + .footer-container {
		margin-top: 0;
	}
}

.footer-container {
	background-color: $chicago;
	color: mix($alabaster, $chicago, 70%);
	font-size: .8em;
	padding: .5em 1em;

	a {
		color: inherit;
	}
}

@media only screen and (min-width: 600px) {
	.footer__left {
		float: left;
	}
	.footer__right {
		float: right;
	}
}