// Header

.header-container {
	background-color: $alabaster;
	position: relative;
	transition: z-index 0s linear .3s;

	@media only screen and (max-width: 599px) {
		&.isAboveOverlay {
			z-index: 30;
		}
	}
}

.header {
	padding: 1em 0;

	.flexbox & {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.no-flexbox & {
		&__nav {
			float: right;
		}
	}

	@media only screen and (max-width: 599px) {
		&:after {
			background-color: $alabaster;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.header__logo {
	@include columns(4.5);
	font-size: 0;
	padding: 0 3% 0 0;
	text-align: center;

	@media only screen and (max-width: 599px) {
		z-index: 20;
		width: auto;

		img {
			height: 60px;
		}
	}
}