// Hero

.hero-container {
	// background-color: $celery;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&:after {
		// background-color: $celery;
		background-color: $celery-light;
		display: block;
		content: '';
		opacity: .8;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	@media only screen and (min-width: 600px) {
		// min-height: 480px;
	}
}

.hero {}

.hero__banner {
	background-color: #fff;
	background-color: rgba(#fff,.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 22px 16px;
	padding: 2rem 1.5rem;
	position: relative;
	z-index: 10;

	@media only screen and (min-width: 400px) {
		@include columns(8);
	}

	@media only screen and (min-width: 600px) {
		@include columns(6);
	}

	@media only screen and (min-width: 800px) {
		@include columns(4.5);
		min-height: 480px;
		padding: 1.5rem;
	}
}

.hero__text {
	color: #333;
	font-size: 1.2em;
	font-weight: 100;

	@media only screen and (min-width: 600px) {
		font-size: 1.5em;
	}

	@media only screen and (min-width: 1000px) {
		font-size: 2em;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.hero__button {
	// margin-top: 2em;
}