// News nav
// "Prev" and "Next" links on a news post page

.news-nav {
	border-top: 1px solid $silver;
	display: flex;
	font-size: $font-size-smaller;
	justify-content: space-between;
	margin-top: 1em;
	padding: .5em 0 0;
	text-transform: uppercase;
}

.news-nav--right {
	justify-content: flex-end;
}

.news-nav__link {}

.news-nav__link--disabled {
	color: $dust;
	cursor: default;
	text-decoration: none;
}