// Social media list

// <ul>
.social {
	@include unstyled;
}

// <li>
.social__item {
	margin: .5em 0;
}

.social__icon {
	height: 1em;
	width: 1em;
	margin-right: .5em;
}

.social__icon,
.social__text {
	display: inline;
	vertical-align: middle;
}

.social__link {
	text-decoration: none;

	&:hover {
		text-decoration: underline
	}
}