// team

// <div>, green background
// .team-container {
// 	background-color: $celery-light;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	min-height: 480px;
// 	padding: 1em 0;
// }

// <div>, contains members
.team-wrapper {
	display: flex;
	flex-flow: row wrap;
	margin-top: 1em;
}

// <div>
.member {
	cursor: pointer;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 48%;
	letter-spacing: 0.1em;
	margin: 0 auto 1em;
	padding: 0 1%;
	text-align: center;
	transition: color .2s ease;

	&:hover {
		color: $celery;
	}

	@media only screen and (min-width: 480px) {
		flex-basis: 31%;
	}

	@media only screen and (min-width: 700px) {
		flex-basis: 23%;
	}
}

.member__image {
	transition: opacity .2s ease;
	
	.member:hover & {
		opacity: .8;
	}
}

// <h3>
.member__name {
	margin-bottom: 0;

	.dialog__body & {
		margin: 0;
	}
}

// <span>
.member__title {
	display: block;
}

// <a>, contains <img>
.member__link {

	.icon--svg {
		display: inline-block;
		margin-top: 1em;
		max-width: 2em;
	}
}

@media only screen and (min-width: 500px) {
	.member__image--back {
		@include columns(4, right);
		padding-left: 2em;
	}

	.member__back-header {
		@include columns(8);
	}

	.member__back-text {
		@include columns(12);
	}
}

@media only screen and (min-width: 700px) {
	// <img>, only inside popup
	.member__image--back {
		@include columns(6, right);
	}

	.member__back-header {
		@include columns(6);
	}

	.member__back-text {
		@include columns(6);
	}
}

.member__back-text,
.member__back-header {
	margin-bottom: 1em;
}